@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --var1: #4e3f91;
    --var2: #3a3a8d;
    --var3: #decdf8;
}

body{
    background-image: linear-gradient(45deg, var(--var1), var(--var2));
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

#titulo{
    flex-direction: column;
    line-height: 10px;
    font-family: 'Fredoka One', cursive;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.39);
}

li a{
    color: #fff;
    display: inline-block;
    margin-right: 30px;
    font-weight: bolder;
    transition-duration: 0.5s;
}

li a:hover{
    color: var(--var3);
}

#menuespecial{
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 10px;
}

#menuespecial:hover{
    color: var(--var1);
    background-color: #fff;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: justify;
}

aside div h1{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Passion One', cursive;
    font-weight: 100;
}

#destaque{
    color: rgba(8, 8, 8, 0.527);
    font-size: 65px;
}

aside div p{
    margin-right: 10px;
}

aside div#input{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
}

div input{
    padding: 15px;
    margin: 10px 0px;

    border: 0px solid transparent;
    border-radius: 20px;
}
input:focus{
    background-color: var(--var3);
}
#campoespecial{
    max-width: 150px;
    background-color: var(--var3);
}

#campoespecial:hover{
    cursor: pointer;
}

article{
    text-align: center;
}
